@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #212121;
  color:#eaeaea;
}

.jumbotron {
  background: #ffcc00;
  color: #1a1a1a;
  font-size: 20px;
  border-radius: 0;
  padding: 22px;
}

h4 {
  font-weight: bold;
  color: #fff;
  font-size: 23px;
}

p {
  color: #cacaca;
}

.push-down {
  margin-bottom: 30px;
}

#rules .number {
  color:#1a1a1a;
  background-color:#ffcc00;
  padding: 0 6px;
  font-weight: bold;
}

.tip {
  margin-bottom: 50px;
}

#rules .rule {
  color:#eaeaea;
  font-size: 18px;
  margin-bottom: 5px;
}

footer {
  background-color: #0a0a0a;
  padding:35px;
  text-align: center;
}

footer h4 {
  margin-bottom: 20px;
}

footer p {
  color:#aaa;
  margin-bottom:0px;
}

footer .important-info {
  color:#fafafa;
  font-size: 22px;
  margin-bottom: 20px;
}

footer a {
  color:#fafafa;
  text-decoration: underline;
}

input.download-link:read-only {
  background-color: #3a3a3a;
  border: 1px solid #ffcc00;
  color: #ffcc00;
}

button.download-link {
  background-color: #ffcc00;
  border: none;
  color: #1a1a1a;
  font-weight: bold;
}

button.download-link:focus, button.download-link:active, button.download-link:hover {
  background-color: #212121;
  border: solid 1px #9a9a9a;
  color: #9a9a9a;
}

#link-copy-result {
  margin-bottom: 30px;
  color: #A3E658;
}
